.card{
    min-width: 200px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-color: rgb(110, 110, 230);
    box-shadow: 0 0 3px 2px;
}